h2 {
  text-transform: capitalize;
  font-size: 16px;
}

.card-wrapper {
  border-radius: 10px;
  box-shadow: 0 0 10px lightgrey;
  padding: 40px;
  width: fit-content;
  margin: auto;
  margin-top: 20vh;
  transition: 0.3s linear;
  background-color: #fff;
}

.btn-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

button {
  background: 0;
  border: 2px solid lightsalmon;
  color: lightsalmon;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

h2 span {
  color: gray;
}

@media screen and (max-width: 800px) {
  .card-wrapper {
    margin-top: 0;
    height: calc(100vh - 80px);
  }
}
